@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: #252525;
    color: #fff;
}

header {
    width: 67.5vw;
    height: 8.8vh;
    border-radius: 0 0 4.4vh 4.4vh;
    box-shadow: 0.4vh 0.4vh 0.4vh #00000040;
    background-color: #151515;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header p {
    font-size: 2.3vh; 
    font-family: Major Mono Display;
}

header a {
    color: #FFFFFF;
    font-size: 2vh;
    font-family: Montserrat;
    text-decoration: none;
}
.link-text {
    font-size: 2vh;
    font-family: Montserrat;
}

header a:hover {
    text-decoration: underline;
}

header i:hover {
    transform: scale(1.2);
}

header .navbar {
    display: flex;
    gap: 3vw;
}

header .navbar span {
    font-size: 2vh;
}

header .links {
    display: flex;
    gap: 1vw;
}

.content {
    width: 90%;

    margin-top: 8vh;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.content .showcase {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.content .showcase .images {
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 3vh;
}

.images img {
    height: 40vh;
    position: relative;

    transition: 0.5s;
}

.images img:hover {
    opacity: 0.4;
    content: 'pato';
}

.images .fa-chevron-left {
    margin-right: auto;
}

.images .fa-chevron-right {
    margin-left: auto;
}

.content .contato {
    width: 80%;
    margin-top: 4vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato a {
    color: #fff;
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
}

.headerIcon {
    position: relative;
    font-size: 2.3vh;
    display: flex;
    left: 0.65vh;
    top: 0.6vh;
    
}

.circle-link {
    border: #FFFFFF solid 0.3vh;
    height: 3.3vh;
    width: 3.3vh;
    border-radius: 2vh;
    display: flex;
}
